@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    background: #F7F7F7;
    color: #1f1f1f;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: underline;
}

p {
    margin-bottom: 8px;
}

form.formkit-form {
    width: 100% !important;
}

.formkit-fields > div:nth-child(2) {
    visibility: hidden;
    height: 0;
}

.formkit-powered-by-convertkit-container {
    display: none !important;
}